/* === Reset === */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// === Variables === \\
// Colors
$black: #000;
$white: #fff;

// for project
$black-2: #101010;
$sky-light: #c8f2ff;
$sky-dark: #bbe3ef;
$primary-color: $black;
$primary-font: Gilroy;
$secondary-font: Montserrat;

// Fonts
html {
  font-size: 16px;
}
html,
body {
  font-family: $primary-font;
  line-height: 1.6;
  font-size: 62.5%;
  font-weight: 400;
  color: $primary-color;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
  // line-height: 1.5;
}

img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  cursor: pointer;
}

input {
  width: 100%;
  outline: none;
  border: 0;
}

button {
  border: 0;
}

span {
  // display: inline-block;
}

sup {
  top: -0.185em;
}

.btn-close:focus {
  box-shadow: none;
}

.container {
  max-width: 1530px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

/* === Commmon === */

// Inharitence
%circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $sky-light;
  left: 10px;
  top: -10px;
  content: ' ';
  z-index: -1;
  transition-duration: 0.12s;
}

// == Colors == \\
.text-black {
  color: $black;
}

.bg-black {
  background-color: $black;
}

// For Project
.text-primary {
  color: $primary-color !important;
}
.text-secondary {
  color: $black-2;
}
.text-sky {
  color: $sky-light;
}
.bg-sky {
  background-color: $sky-light;
}

// == Fonts == \\
.text-1 {
  font-size: 0.5rem;
}

.text-2 {
  font-size: 0.75rem;
}

.text-3 {
  font-size: 1rem;
}

.text-4 {
  font-size: 1.25rem;
}

.text-5 {
  font-size: 1.5rem;
}

.text-6 {
  font-size: 1.75rem;
}

.text-7 {
  font-size: 2rem;
}

.text-8 {
  font-size: 2.25rem;
}

.text-9 {
  font-size: 2.5rem;
}

.text-10 {
  font-size: 2.75rem;
}

.text-11 {
  font-size: 3rem;
}

.text-12 {
  font-size: 3.25rem;
}

.text-13 {
  font-size: 3.5rem;
}

.text-14 {
  font-size: 3.75rem;
}

.text-15 {
  font-size: 4rem;
}

.text-montserrat {
  //   font-family: $primary-font;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.font-weight-black {
  font-weight: 900;
}

.text-800 {
  font-weight: 800;
}

.text-900 {
  font-weight: 900;
}

.text-italic {
  font-style: italic;
}

// == Overflow == \\
.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

// == Opacity == \\
.opacity-point-1 {
  opacity: 0.1;
}

.opacity-point-15 {
  opacity: 0.15;
}

.opacity-point-2 {
  opacity: 0.2;
}

.opacity-point-3 {
  opacity: 0.3;
}

.opacity-point-4 {
  opacity: 0.4;
}

.opacity-point-5 {
  opacity: 0.5;
}

.opacity-point-6 {
  opacity: 0.6;
}

.opacity-point-7 {
  opacity: 0.7;
}

.opacity-point-8 {
  opacity: 0.8;
}

.opacity-point-9 {
  opacity: 0.9;
}

// Spacing

// Position
.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

// Custom Select
.custom-select {
  position: relative;

  > div {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    h5 {
      font-size: 1rem;
      color: #21232e;
    }

    img {
      transform: rotate(-180deg);
    }
  }

  ul {
    background: #fff;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    display: none;

    li {
      cursor: pointer;
      color: #21232e;
      font-size: 14px;
    }
  }

  &.active {
    ul {
      display: block;
    }

    img {
      transform: rotate(0deg);
    }
  }
}

// Borders
.border {
  border: 0 !important;
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: ' ';

    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &--horizontal-top {
    &::before {
      top: 0;
    }

    &::after {
      height: 0;
    }
  }

  &--horizontal-bottom {
    &::before {
      height: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

// Button
.button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 55px;
  min-height: 64px;
  min-width: 202px;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $black;
  color: $white;
  z-index: 1;
  transition-duration: 0.45s;
  @media (max-width: 767.98px) {
    min-width: 182px;
    min-height: 49px;
    font-size: 1.3rem;
  }
  &::before {
    @extend %circle;
  }
  &:hover {
    color: $white;
    overflow: hidden;
    text-shadow: 0px 0px 2px #000;
    background-color: transparent;
    &::before {
      width: 110%;
      height: 110%;
      border-radius: 55px;
      transition-duration: 0.25s;
      top: -5%;
      left: -5%;
    }
  }

  // @media (max-width: 991.98px) {
  //   padding-top: 8px;
  //   min-height: 48px;
  //   min-width: 200px;
  // }

  // &--white {
  //   background-color: $white;
  //   color: $black;
  // }
}

/* Owl Carousel */
// .owl-carousel {
//   .owl-stage {
//     padding-left: 0 !important;
//   }

//   .owl-dots {
//     position: absolute;
//     bottom: 81px;
//     left: 50%;
//     transform: translateX(-50%);

//     @media (max-width: 991.98px) {
//       bottom: 47px;
//     }
//   }

//   button.owl-dot {
//     width: 8px;
//     height: 8px;
//     background-color: #858d96;
//     border-radius: 50%;
//     margin: 1px 4px;

//     &.active {
//       background-color: #fff;
//     }
//   }

//   .owl-nav {
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     bottom: 75px;

//     @media (max-width: 991.98px) {
//       bottom: 42px;
//     }

//     @media (max-width: 479.98px) {
//       bottom: 43px;
//     }

//     button {
//       svg {
//         fill: #fff;
//       }
//     }
//   }

//   button.owl-prev {
//     margin-right: 60px;

//     @media (max-width: 383.98px) {
//       margin-right: 40px;
//     }

//     svg {
//       transform: rotate(180deg);
//     }
//   }

//   button.owl-next {
//     margin-left: 60px;

//     @media (max-width: 383.98px) {
//       margin-left: 40px;
//     }
//   }
// }

// Custom Dropdown
.custom-dropdown {
  position: relative;
  background-color: #bbe3ef;
  min-width: 51px;
}

.custom-dropdown input {
  display: none;
}

.custom-dropdown label {
  display: flex;
  background: transparent;
  align-items: center;
  border: 0;
}

.custom-dropdown svg {
  width: 7px;
  height: 7px;
  transition-duration: 0.45s;
  transform-origin: center;
  transform: rotate(-180deg) translateY(1.5px);
  fill: #fff;
}

.custom-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scaleY(0);
  transition-duration: 0.5s;
  transform-origin: 0 0;
  transition-delay: 0.4s;
  z-index: 1;
  background-color: #fff;
  padding: 5px 15px;
  padding-top: 6px;
  border: 1px solid #eee;
  top: calc(100% + 3px);
  min-width: 100px;
  right: 0;
}

.custom-dropdown input:checked + label + ul {
  transition-delay: 0s;
  transform: scaleY(1);
}

.custom-dropdown input:checked + label svg {
  transform: rotate(0deg) translateY(-1.5px);
}

.custom-dropdown li {
  opacity: 0;
  transition-duration: 0.3s;
}

.custom-dropdown input:checked + label + ul li {
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: 0.4s;
}

.custom-dropdown a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  &:hover {
    color: $sky-dark;
    font-weight: 700;
  }
}
.section-title {
  position: relative;
  text-align: center;
  &::after,
  &::before {
    @extend %circle;
    left: 50%;
    top: -4rem;
  }
  &::after {
    width: 1px;
    height: 69px;
    left: calc(50% + 8px);
    top: -128px;
    @media (min-width: 992px) {
      height: 117px;
      top: -174px;
    }
  }
  h2 {
    font-size: 4.8rem;
    line-height: 1;
    margin-bottom: 15px;
    @media (max-width: 575.98px) {
      font-size: 3.8rem;
      margin-bottom: 1.2rem;
    }
  }
  p {
    font-size: 2rem;
    line-height: 1.5;
    @media (max-width: 575.98px) {
      font-size: 1.5rem;
    }
  }
}
.common-block-content {
  background-color: $black;
  padding: 60px 30px;
  max-width: 280px;
  @media (min-width: 576px) {
    max-width: 380px;
    padding: 50px;
  }
  h4 {
    color: #a1a1a1;
    @media (max-width: 575.98px) {
      font-size: 1.5rem;
    }
  }
  h3 {
    line-height: 1.2;
    @media (max-width: 575.98px) {
      font-size: 2.6rem;
    }
  }
  p {
    @media (max-width: 575.98px) {
      font-size: 1.5rem;
    }
  }
}
/* === Header Start === */
header {
  .header__topbar {
    .container {
      min-height: 46px;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.4rem;
      @media (max-width: 768.98px) {
        font-size: 1.2rem;
      }
    }
    label {
      font-size: 1.1rem;
      font-family: $secondary-font;
    }
  }
  .header__navigation {
    .custom-dropdown {
      ul {
        @media (max-width: 767.98px) {
          right: 4px;
          bottom: calc(100% + 2px);
          top: auto;
        }
      }
    }
  }
  .header__container {
    min-height: 100px;
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 126px;
      // padding-top: 15px;
      // padding-bottom: 15px;
    }
  }
  .header__brand {
    @media (max-width: 991.98px) {
      display: flex;
      justify-content: space-between;
      padding-top: 29px;
      padding-top: 23px;
      padding-bottom: 15px;
      width: calc(100% + 2.8rem);
      margin-left: -1.4rem;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      align-items: center;
      background: $sky-dark;
      background: $sky-light;
      background: $white;
    }
  }
  .header__logo__link {
    img {
      @media (max-width: 991.98px) {
        max-width: 170px;
      }
    }
  }
  .header__menu__icon {
    @media (min-width: 992px) {
      display: none;
    }

    @media (max-width: 991.98px) {
      cursor: pointer;
      svg {
        fill: $sky-light;
      }
      svg:first-child {
        display: block;
      }

      svg:last-child {
        display: none;
      }

      &--active {
        svg:last-child {
          display: block;
          border: 1px solid;
          border-radius: 50%;
          width: 21px;
          height: 21px;
          fill: #000;
          padding: 3px;
        }

        svg:first-child {
          display: none;
        }
      }
    }
  }
  .header__nav {
    transition-duration: 0.5s;
    margin-left: -1.4rem;
    position: relative;
    height: 0;
    overflow: hidden;

    @media (max-width: 991.98px) {
      width: calc(100% + 2.8rem);
      // background-color: #fff;
    }

    &--active {
      --nav-height: 60vh;
      @media (max-width: 991.98px) {
        // overflow-y: auto;
        // height: calc(100vh - 66px);
        height: 500px;
        height: var(--nav-height, calc(100vh - 66px));
      }
    }

    @media (min-width: 992px) {
      height: auto;
    }
  }
  .header__menu__items {
    @media (min-width: 992px) {
      display: flex;
    }
  }
  .header__menu__item {
    @media (max-width: 991.98px) {
      border-bottom: 1px solid #d9d9d9;
    }
  }
  .header__menu__link {
    text-transform: uppercase;
    font-size: 1.35rem;
    color: #000;
    font-weight: 700;
    padding: 0.5rem 1.8rem;
    padding-top: 0.85rem;
    padding: 1.8rem 1.8rem;
    padding-top: 2.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.45s;
    @media (min-width: 384px) {
      font-size: 1.45rem;
    }
    @media (min-width: 480px) {
      font-size: 1.55rem;
    }
    @media (min-width: 992px) {
      font-size: 1.2rem;
      padding: 10px 1.5rem;
      padding-top: 15px;
    }
    @media (min-width: 1200px) {
      padding: 10px 2.5rem;
      padding-top: 14px;
    }
    svg {
      transform: translateX(4px) rotate(-90deg);
      transition-duration: 0.45s;
      @media (min-width: 992px) {
        display: none;
      }
    }
    &:hover {
      color: $sky-dark;
      svg {
        transform: translateX(7px) rotate(-90deg);
        fill: $sky-dark;
      }
    }
  }
  .header__social__icons {
    a {
      margin-left: 1.3rem;
      padding: 5px;
      &:last-child {
        margin-right: -5px;
      }
    }
    &--mobile {
      a {
      }
    }
  }
  .navigation__mobile__bottom {
    min-height: 40px;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  .custom-dropdown--mobile {
    background-color: transparent;

    label {
      color: $white;
      svg {
        transform: rotate(0deg) translateY(0px);
        width: 12px;
        height: 12px;
      }
    }
    input:checked + label svg {
      transform: rotate(180deg) translateY(0px);
    }
  }
  &.header--active {
    @media (max-width: 991.98px) {
      .header__topbar {
        display: none;
      }
      .header__brand {
        background-color: $sky-light;
      }
    }
  }
}
header.achievement {
  .header__topbar {
    background-color: #232323;
    z-index: 2;
    position: relative;
    .custom-dropdown {
      background-color: #353535;
      min-width: 56px;
    }
  }
  .header__navigation {
    @media (min-width: 992px) {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .header__menu__link {
    @media (min-width: 992px) {
      color: $white;
    }
  }
}
/* === Header End === */

/* === Banner Start === */
.welcome-banner {
  @media (min-width: 992px) {
    margin-top: 1.5rem;
  }
  .container {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    @media (max-width: 991.98px) {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    @media (max-width: 767.98px) {
      padding-top: 85px;
      padding-bottom: 85px;
    }
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 1120px;
      background: url('../images/welcome-banner.jpg') no-repeat scroll center
        center / cover;
      content: ' ';
      top: 0;
      right: 1.4rem;
      @media (max-width: 1350.98px) {
        max-width: 935px;
      }
      @media (max-width: 1199.98px) {
        max-width: 100%;
        right: 0;
      }
      @media (max-width: 575.98px) {
        background-image: url(../images/welcome-mobile-banner.jpg);
      }
    }
  }
  .wb-content {
    max-width: 326px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    @media (min-width: 384px) {
      max-width: 400px;
    }
    @media (min-width: 576px) {
      max-width: 450px;
    }
    @media (min-width: 768px) {
      margin-left: 87px;
      max-width: 640px;
    }
  }
  h2 {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 2.35rem;
    @media (max-width: 767.98px) {
      font-size: 38px;
    }
  }
  p {
    font-size: 20px;
    line-height: 1.8;
    max-width: 470px;
    margin-bottom: 3rem;
    @media (max-width: 767.98px) {
      font-size: 15px;
      margin-bottom: 2.4rem;
    }
  }
}
.achievement-banner {
  background-image: url('../images/achievement/banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  .container {
    min-height: 900px;
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
    align-items: center;
    @media (min-width: 1200px) {
      align-items: flex-end;
    }
    @media (max-width: 1199.98px) {
      min-height: 650px;
    }
    @media (max-width: 991.98px) {
      min-height: 550px;
    }
    @media (max-width: 767.98px) {
      min-height: 450px;
    }
    > div {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h2 {
    font-size: 60px;
    margin-bottom: 17px;
    @media (max-width: 767.98px) {
      font-size: 45px;
    }
  }
  p {
    font-size: 2rem;
    line-height: 1.85;
    @media (max-width: 767.98px) {
      font-size: 1.5rem;
    }
  }
  .ab-bottom {
    left: 0;
    bottom: 0;
    width: 428px;
    height: 85px;
    font-size: 12px;
    display: flex;
    border-bottom: 1px solid $sky-light;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 575.98px) {
      width: 330px;
    }
    > div {
      &:first-child {
        margin-left: 45px;
        @media (max-width: 575.98px) {
          margin-left: 15px;
        }
      }
      span:first-child {
        font-weight: 700;
        color: #d3d3d3;
      }
    }
  }
}

/* === Banner End === */

/* === Our Client Start === */
.our-clients {
  margin-top: 9rem;
  .container {
    max-width: 1400px;
    @media (max-width: 575.98px) {
      padding-left: 0;
      padding-right: 0;
    }
    // display: grid;
    // grid-template-columns: 119px 100px 108px 200px 167px;
    // align-items: center;
    // justify-content: space-between;
    a {
      min-height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: auto;
        max-width: 90%;
        @media (max-width: 575.98px) {
          max-width: 80%;
        }
      }
    }
  }
}
/* === Our Client End === */
/* === Discover Expertise Start === */
.discover-expertise {
  margin-top: 250px;
  @media (max-width: 991.98px) {
    margin-top: 180px;
  }
  .de-title {
    max-width: 545px;
    margin-left: auto;
    margin-right: auto;
  }
  .de-sliders {
    margin-top: 9rem;
    @media (min-width: 1200px) {
      margin-top: 11rem;
    }
  }
  .de-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 80px;
    min-height: 480px;
    @media (min-width: 480px) {
      min-height: 570px;
    }
    @media (min-width: 576px) {
      min-height: 760px;
    }
    @media (min-width: 1200px) {
      background-position: center center;
    }
  }
  .de-slider-button {
    position: relative;
    margin-left: 1.9rem;
    &::before {
      @extend %circle;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      left: -1.9rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .common-block-content {
    top: -8rem;
    transition-duration: 0.25;
  }
  .owl-nav {
    button {
      width: 50px;
      height: 50px;
      background: #000 !important;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 110px;
      &.owl-next {
        left: auto;
        right: 94px;
      }
      @media (max-width: 1199.98px) {
        top: auto;
        bottom: 60px;
      }
      @media (max-width: 991.98px) {
        bottom: 45px;
      }
      @media (max-width: 767.98px) {
        width: 30px;
        height: 30px;
      }
      @media (max-width: 575.98px) {
        left: 20px;
        &.owl-next {
          left: auto;
          right: 20px;
        }
      }
    }
  }
}
/* === Discover Expertise End === */
/* === Who are we Start === */
.who-we {
  margin-top: 400px;
  @media (min-width: 1200px) {
    background: url('../images/who-are-we.png') no-repeat scroll center center /
      cover;
  }
  @media (max-width: 1199.98px) {
    margin-top: 290px;
  }
  @media (max-width: 767.98px) {
    margin-top: 250px;
  }
  @media (max-width: 575.98px) {
    margin-top: 230px;
  }
  .ww-content {
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* === Who are we End === */

/* === AchievementsStart === */
.achievements {
  margin-top: 380px;
  max-width: 1730px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1199.98px) {
    margin-top: 270px;
  }
  @media (max-width: 767.98px) {
    margin-top: 215px;
  }
  @media (max-width: 575.98px) {
    margin-top: 190px;
  }
  .achievements-title {
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
  }
  .achievements-sliders {
    margin-top: 100px;
    margin-bottom: 100px;
    @media (max-width: 1199.98px) {
      margin-top: 20px;
    }
    .owl-stage {
      padding-top: 50px;
    }
  }
  .achievement-slider > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    min-height: 531px;
    @media (min-width: 1200px) {
      height: 620px;
      min-height: auto;
      transition-duration: 0.45s;
      &.active {
        // box-sizing: content-box;
        // padding-top: 50px;
        // padding-bottom: 50px;
        transform: translateY(-35px);
        height: 690px;
      }
    }
    > img {
      width: auto;
      max-width: 210px;
      margin-left: 40px;
    }
  }
  .common-block-content {
    background-color: transparent;
    padding: 50px;
    padding-top: 22px;
    padding: 30px;
    padding-bottom: 0;
    p {
      margin-bottom: 3rem !important;
    }
  }
  a.button {
    @media (min-width: 1200px) {
      min-width: 255px;
      padding-top: 9px;
    }
  }
}
/* === Achievements End === */

/* === Discover News Start === */
.discover-news {
  margin-top: 300px;
  @media (max-width: 767.98px) {
    margin-top: 210px;
  }
  * {
    color: #1d1d1d;
  }
  .container {
    @media (max-width: 1199.98px) {
      max-width: 750px;
    }
    @media (max-width: 383.98px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .dn-title {
    margin-bottom: 120px;
    @media (max-width: 767.98px) {
      margin-bottom: 70px;
    }
  }
  .common-block-content {
    @media (min-width: 1350px) {
      padding: 60px;
    }
  }
  a.de-slider-button {
    color: #1d1d1d;
    position: relative;
    margin-left: 1.9rem;
    &::before {
      @extend %circle;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      left: -1.9rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .dn-title {
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
  }
  .dn-content {
    margin-bottom: 76px;
    @media (max-width: 767.98px) {
      display: none;
    }
  }
  .discover-news-first {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    @media (max-width: 1199.98px) {
      min-height: 600px;
      // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    }
    @media (max-width: 1199.98px) and (min-width: 768px) {
      // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    }
    .common-block-content {
      padding: 50px;
      max-width: 395px;
      // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    }
  }
  .discover-news-second {
    @media (max-width: 1199.98px) {
      max-height: 400px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @media (max-width: 1199.98px) and (min-width: 768px) {
      // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    }
    img {
      flex: 0 0 50%;
      max-width: 50%;
      @media (max-width: 1199.98px) {
        max-height: 100%;
      }
    }
  }
  .discover-news-third {
    .common-block-content {
      max-width: 610px;
      h3 {
        color: $white;
      }
      p {
        color: #c6c6c6;
      }
    }
    a.de-slider-button {
      color: $white;
    }
  }
  a.button {
    @media (min-width: 1200px) {
      min-width: 239px;
      min-height: 64px;
    }
  }
  .dn-mobile-content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 383.98px) {
      // max-width: 100%;
      // margin-left: -1.4rem;
      // margin-right: -1.4rem;
    }
    .dn-item {
      min-height: 500px;
      padding-left: 1px;
      margin-left: auto;
      margin-right: auto;
    }
    .common-block-content {
      h3 {
        font-size: 25px;
      }
      p {
        font-size: 1.5rem;
      }
      a {
        font-size: 1.3rem;
      }
    }
    .discover-news-first {
      // background-image: url('../images/discover-news/1-mobile.jpg');
      background-size: 390px 315px;
      background-position: 1px 0;
      max-width: 390px;
      @media (max-width: 383.98px) {
        background-size: 100% 315px;
      }
      .common-block-content {
        max-width: 324px;
        padding: 25px;
        box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 12%);
        @media (max-width: 383.98px) {
          max-width: 280px;
        }
      }
    }
    .discover-news-second {
      .common-block-content {
        @media (max-width: 383.98px) {
          padding: 10px;
        }
      }
    }
    .owl-nav {
      button {
        width: 50px;
        height: 50px;
        background: #000 !important;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 110px;
        &.owl-prev {
          display: none;
        }
        &.owl-next {
          left: auto;
          right: 94px;
          transform: translate(8px, -93px);
        }
        @media (max-width: 1199.98px) {
          top: auto;
          bottom: 60px;
        }
        @media (max-width: 991.98px) {
          bottom: 45px;
        }
        @media (max-width: 767.98px) {
          width: 30px;
          height: 30px;
        }
        @media (max-width: 575.98px) {
          left: 20px;
          &.owl-next {
            left: auto;
            right: 20px;
          }
        }
      }
    }
  }
}
/* === Discover News End === */
/* === Footer Start === */
footer {
  .footer-top {
    padding-top: 350px;
    padding-bottom: 90px;
    @media (min-width: 992px) {
      background: url('../images/footer-bg.png') no-repeat scroll 10% 75px /80% auto;
    }
    @media (max-width: 1199.98px) {
      padding-top: 200px;
      padding-bottom: 50px;
    }
    @media (max-width: 991.98px) {
      padding-top: 130px;
    }
    .container {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 170px 130px 184px 112px 210px;
      @media (min-width: 1450px) {
        grid-template-columns: 350px 130px 184px 112px 350px;
      }
      @media (max-width: 991.98px) {
        display: flex;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        > * {
          margin-top: 15px;
          margin-bottom: 15px;
          &:not(:first-child, :last-child) {
            margin-left: 24px;
          }
          &:last-child {
            margin-top: 25px;
            a {
              width: 100%;
            }
          }
        }
      }
    }
    h5 {
      position: relative;
      font-size: 15px;
      margin-bottom: 15px;
      @media (max-width: 991.98px) {
        margin-bottom: 12px;
      }
      &::after {
        @extend %circle;
        width: 10px;
        height: 10px;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    p {
      font-size: 15px;
      color: #6f6f6f;
      margin-left: -1.8rem;
      line-height: 1.5;
    }
    .social-icons {
      margin-left: -1.8rem;
      a {
        margin-right: 13px;
        img {
          opacity: 0.7;
        }
      }
    }
  }
  .footer-bottom {
    background-color: #f1f1f1;
    .container {
      min-height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 11px;
      color: #a0a0a0;
    }
  }
}
/* === Footer End === */

/* === Achievement Page Start === */
.the-achievements {
  padding-top: 280px;
  @media (max-width: 767.98px) {
    padding-top: 230px;
  }
  @media (max-width: 767.98px) {
    padding-top: 200px;
  }
  .container {
    max-width: 1080px;
  }
  h2 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 20px;
  }
}
.achievements-video {
  background-image: url('../images/achievement/video-banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 120px;
  @media (max-width: 991.98px) {
    margin-top: 90px;
  }
  .container {
    min-height: 600px;
    position: relative;
    @media (max-width: 767.98px) {
      min-height: 500px;
    }
    @media (max-width: 575.98px) {
      min-height: 400px;
    }
    a {
      position: absolute;
      font-size: 12px;
      font-family: $secondary-font;
      font-weight: 700;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      text-align: center;
      img {
        transition-duration: 0.45s;
      }
      span {
        margin-top: 6px;
      }
      &:hover {
        img {
          transform: scale(1.12);
        }
      }
    }
  }
}
.make-appointment {
  margin-top: 200px;
  padding-top: 160px;
  padding-bottom: 160px;
  background: url('../images/achievement/appointment-bg.jpg') no-repeat scroll
    center center / cover;
  @media (max-width: 1199.98px) {
    margin-top: 90px;
  }
  @media (max-width: 991.98px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container {
    max-width: 744px;
    text-align: center;
    color: white;
  }
  h4 {
    font-size: 22px;
  }
  h3 {
    font-size: 42px;
    margin-top: 10px;
    line-height: 1.3;
    margin-bottom: 32px;
    @media (max-width: 767.98px) {
      font-size: 35px;
      line-height: 1.2;
    }
  }
  a.button {
    color: #313131;
    @media (min-width: 992px) {
      min-width: 255px;
      min-height: 71px;
    }
  }
}
/* === Achievement Page End === */

/* === About Page Start === */
.about-banner {
  padding-top: 70px;
  @media (max-width: 767.98px) {
    padding-top: 50px;
  }
  h2 {
    font-size: 70px;
    line-height: 1.25;
    margin-bottom: 15px;
    @media (min-width: 1200px) and (max-width: 1380px) {
      font-size: 55px;
    }
    @media (max-width: 1199.98px) {
      font-size: 60px;
    }
    @media (max-width: 575.98px) {
      font-size: 50px;
    }
    @media (max-width: 479.98px) {
      font-size: 45px;
    }
  }
  p {
    font-size: 2rem;
    line-height: 2.45;
    @media (min-width: 1200px) {
      max-width: 390px;
    }
    @media (max-width: 575.98px) {
      font-size: 1.7rem;
      line-height: 2;
    }
  }
  .about-image {
    @media (min-width: 1200px) {
      padding-left: 25px;
    }
    @media (max-width: 575.98px) {
      margin-left: -1.4rem;
      margin-right: -1.4rem;
    }
  }
}
.counter {
  margin-top: 120px;
  @media (max-width: 767.98px) {
    margin-top: 75px;
  }
  .container {
    max-width: 1030px;
    @media (max-width: 991.98px) {
      max-width: 500px;
    }
    @media (max-width: 575.98px) {
      max-width: 190px;
    }
  }
  .row {
    @media (min-width: 576px) {
      background-color: #fbfbfb;
    }
    position: relative;
  }
  .counter-item {
    @media (max-width: 991.98px) {
      margin-top: 35px;
      margin-bottom: 35px;
    }
    div {
      span {
        line-height: 1;
      }
      span:first-child {
        font-size: 33px;
      }
      span:last-child {
        margin-top: 7px;
        font-size: 15px;
      }
    }
    & + div {
      margin-top: 50px;
    }
  }
  [class*='col-']:nth-child(1) {
    // position: relative;
    @media (min-width: 576px) {
      &::before {
        position: absolute;
        width: 40px;
        height: 100%;
        background-color: #fbfbfb;
        content: ' ';
        left: -40px;
        top: 0;
      }
    }
  }
  [class*='col-']:nth-child(4) {
    @media (min-width: 992px) {
      background-color: #fff;
      position: relative;
    }
    padding-top: 28px;
    padding-bottom: 28px;
    &::before {
      position: absolute;
      height: 100%;
      content: ' ';
      left: -60px;
      top: 0;
      @media (min-width: 992px) {
        width: 60px;
        background-color: #fff;
      }
      @media (max-width: 991.98px) {
        width: 20px;
        background-color: #fbfbfb;
        // background-color: red;
        right: -20px;
        left: auto;
      }
      @media (max-width: 575.98px) {
        display: none;
      }
    }
  }
  a.button {
    @media (max-width: 575.98px) {
      font-size: 1.2rem;
    }
  }
}
.about-content {
  padding-top: 110px;
  @media (max-width: 991.98px) {
    padding-top: 80px;
  }
  @media (max-width: 767.98px) {
    padding-top: 70px;
  }
  .container {
    max-width: 1030px;
  }
  p {
    font-size: 18px;
    line-height: 2.1;
    margin-bottom: 18px;
    @media (max-width: 767.98px) {
      font-size: 17px;
    }
  }
}
.discover-story {
  margin-top: 250px;
  .section-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    margin-bottom: 100px;
    h2 {
      margin-bottom: 17px;
    }
  }
  .ds-sliders {
    @media (min-width: 1200px) {
      max-width: 1270px;
      margin-left: auto;
    }
  }
  .owl-stage {
    @media (min-width: 1200px) {
      padding-left: 0 !important;
    }
  }
  .ds-slider {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 560px;
    padding: 35px 30px;
    h3 {
      font-size: 56px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      line-height: 1.55;
    }
  }
  .owl-nav {
    button {
      width: 50px;
      height: 50px;
      background: #c8f2ff !important;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 110px;
      @media (min-width: 1200px) {
        display: none;
      }
      &.owl-next {
        left: auto;
        display: block;
        right: 94px;
      }
      @media (max-width: 1199.98px) {
        top: auto;
        bottom: 60px;
      }
      @media (max-width: 991.98px) {
        bottom: 45px;
      }
      @media (max-width: 767.98px) {
        width: 30px;
        height: 30px;
      }
      @media (max-width: 575.98px) {
        left: 20px;
        &.owl-next {
          left: auto;
          right: 20px;
        }
      }
    }
  }
}
.discover-team {
  margin-top: 280px;
  @media (max-width: 1199.98px) {
    margin-top: 250px;
  }
  .container {
    @media (max-width: 991.98px) {
      max-width: 700px;
    }
    @media (max-width: 767.98px) {
      max-width: 420px;
    }
  }
  .section-title {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  [class*='col-'] {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .team-member {
    @media (max-width: 767.98px) {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.testimonial {
  margin-top: 250px;
  @media (max-width: 1199.98px) {
    margin-top: 180px;
  }
  .container {
    max-width: 1250px;
  }
  .section-title {
    margin-bottom: 100px;
  }
  .testimonial-sliders {
  }
  .ts-item {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 43px;
    box-shadow: 0 4px 9px 2px rgb(0 0 0 / 10%);
    height: calc(100% - 12px);
    width: calc(100% - 25px);
    margin-left: 12.5px;
    @media (max-width: 575.98px) {
      padding-left: 20px;
      padding-right: 15px;
    }
    // margin: 10px;
    .quote {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 24px;
    }
    img.author-img {
      max-width: 72px;
    }
    a.author-name {
      font-size: 15px;
      font-weight: 700;
      color: $black;
    }
    span.author-pos {
      color: #898989;
      font-size: 1.3rem;
    }
    p {
      padding-top: 23px;
      font-size: 17px;
      line-height: 1.8;
    }
  }
  .owl-nav {
    button {
      width: 50px;
      height: 50px;
      background: #000 !important;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -11px;
      @media (max-width: 1199.98px) {
        // top: auto;
        // bottom: 60px;
      }
      @media (max-width: 479.98px) {
        height: 40px;
        width: 40px;
        transform: translateY(calc(-50% + 17px));
      }
      &.owl-next {
        left: auto;
        right: -13px;
      }
    }
  }
}
/* === About Page End === */
